/rust-vulkan/.vscode
/vulkan/toy2d-cpp/build
/vulkan/toy2d-cpp/cmake/sandbox/
/vulkan/toy2d-cpp/cmake/CMakeFiles/
/vulkan/.vscode
/vulkan/toy2d-cpp/.vscode
/rust-vulkan/target
/.vscode/
*.spv
**/target/
**/build/
**/resources/
**/CMakeFiles/
